<ion-content>
  <div>
      <h1 class="path">{{ path }}</h1>
    <div class="calculator">      
      <input type="text" class="calculator__display" value="{{ displayValue }}" disabled />

      <button (click) = "reset()" class="btn input-container__item btn-red col_1-4">{{ 'AC' }}</button>
      <button (click) = "handleClick('+', true)" class="btn input-container__item">{{ '+' }}</button>
      <button (click) = "handleClick('-', true)" class="btn input-container__item">{{ '-' }}</button>
      <button (click) = "handleClick('*', true)" class="btn input-container__item">{{ '*' }}</button>
      <button (click) = "handleClick('/', true)" class="btn input-container__item">{{ '/' }}</button>
      <button (click) = "handleClick('.', true)" class="btn input-container__item">{{ '.' }}</button>
      <button (click) = "handleClick('=', true)" class="btn input-container__item">{{ '=' }}</button>
  
      <button (click) = "handleClick(0, false)" class="btn input-container__item col_3-4-1">{{ 0 }}</button>   
      <button (click) = "handleClick(1, false)" class="btn input-container__item col_1-2-1">{{ 1 }}</button>
      <button (click) = "handleClick(2, false)" class="btn input-container__item col_2-3-1">{{ 2 }}</button>
      <button (click) = "handleClick(3, false)" class="btn input-container__item col_3-4-2">{{ 3 }}</button>
      <button (click) = "handleClick(4, false)" class="btn input-container__item col_1-2-2">{{ 4 }}</button>
      <button (click) = "handleClick(5, false)" class="btn input-container__item col_2-3-2">{{ 5 }}</button>
      <button (click) = "handleClick(6, false)" class="btn input-container__item col_3-4-3">{{ 6 }}</button>
      <button (click) = "handleClick(7, false)" class="btn input-container__item col_1-2-3">{{ 7 }}</button>
      <button (click) = "handleClick(8, false)" class="btn input-container__item col_2-3-3">{{ 8 }}</button>
      <button (click) = "handleClick(9, false)" class="btn input-container__item col_3-4-4">{{ 9 }}</button>          
  
    </div>  
  </div>
</ion-content>
